header{
  padding: 10px;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  gap: 9em;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 9rem;
 }

li a{
  text-decoration: none;
  color :#fff;
  text-align: center;
}

li a:hover{
  font-weight: bold;
  font-size: 1.1em;
  transition: ease 0.3s;
  color: #B4A493;
}