.contianer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  color: red;
  height: 90px;
  width: 100%;
}

.panel{
  border: solid 1px red;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  height:150px;
  border: 1px solid #000;
  width: 150px;
  background-color: aquamarine;
}

.enemy{
  background-color: red;
}